@font-face {
  font-family: 'mpicons';
  src:  url('fonts/mpicons.eot?m0bzb7');
  src:  url('fonts/mpicons.eot?m0bzb7#iefix') format('embedded-opentype'),
    url('fonts/mpicons.ttf?m0bzb7') format('truetype'),
    url('fonts/mpicons.woff?m0bzb7') format('woff'),
    url('fonts/mpicons.svg?m0bzb7#mpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mp-"], [class*=" mp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mpicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mp-envelope:before {
  content: "\e90f";
}
.mp-instagram:before {
  content: "\e910";
}
.mp-codepen:before {
  content: "\e911";
}
.mp-github:before {
  content: "\e912";
}
.mp-envelope-o:before {
  content: "\e913";
}
.mp-minus:before {
  content: "\e909";
}
.mp-plus:before {
  content: "\e90a";
}
.mp-search-plus-thin:before {
  content: "\e90b";
}
.mp-search-plus:before {
  content: "\e90c";
}
.mp-search-thin:before {
  content: "\e90d";
}
.mp-search:before {
  content: "\e90e";
}
.mp-arrow-open-left:before {
  content: "\e900";
}
.mp-arrow-open-right:before {
  content: "\e901";
}
.mp-avatar:before {
  content: "\e902";
}
.mp-camera:before {
  content: "\e907";
}
.mp-os:before {
  content: "\e908";
}
.mp-screen:before {
  content: "\e903";
}
.mp-size:before {
  content: "\e904";
}
.mp-storage:before {
  content: "\e905";
}
.mp-weight:before {
  content: "\e906";
}
