:root {
    --primary-color: #202733;
    --gray-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: var(--primary-color);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header h1 {
    margin-top: 20px;
    margin-bottom: 0;
}

header h2 {
    margin-top: 20px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.25rem;
    font-weight: 500;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.social-icons {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}

footer>.social-icons {
    margin-top: 0;
    margin-bottom: 40px;
}

.icon {
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

footer>.social-icons>.icon {
    background: var(--primary-color);
}

.icon:last-child {
    margin-right: 0;
}

.icon>a {
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 0;
}

footer>.social-icons>.icon>a {
    color: #fff;
}

.arrow {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

#about,
#portfolio {
    background: #fff;
    color: var(--primary-color);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

#portfolio {
    padding-bottom: 40px;
}

#about>.container>.content {
    display: flex;
}

.avatar-container {
    flex: 3;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.avatar-container img {
    width: 100%;
    border-radius: 50%;
}

.about-text {
    flex: 4;
    padding-left: 40px;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.tab-item {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gray-color);
}

.tab-item.active {
    color: var(--primary-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.portfolio-item {
    perspective: 1400px;
    z-index: 0;
}

.image-container {
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.portfolio-item:hover>.image-container {
    transform: rotateY(180deg);
}

.portfolio-item:hover {
    z-index: 1;
}

.image {
    width: 100%;
    display: block;
    border-radius: 10px;
    backface-visibility: hidden;
}

.image-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: var(--primary-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}