:root {
    --primary-color: #202733;
    --gray-color: #ccc;
    --gray-text: #76797F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 80%;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 60%;
    }
}

header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-right: 1rem;
    color: #fff;
    background: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    header {
        padding-right: 2rem;
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
    color: var(--primary-color);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-bottom: .7rem;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1.5rem;
    line-height: 1.3;
}

.btn-view {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #202733;
    background: #fff;
    padding: 15px 25px;
    border-radius: 31px;
    font-weight: 500;
}

@media screen and (min-width: 425px) {
    h1 {
        font-size: 3.75rem;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 1.75rem;
    }
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--gray-text);
}

@media screen and (min-width: 768px) {
    p {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px) {
    p {
        font-size: 1.6rem;
    }
}

.logo {
    width: 100%;
}

header>.side-bar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    flex-basis: 70px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    header>.side-bar {
        padding: 15px;
        flex-basis: 80px;
    }
}

@media screen and (min-width:1024px) {
    header>.side-bar {
        flex-basis: 100px;
        padding: 20px;
    }
}

header>.content {
    z-index: 1;
    flex-basis: 90%;
}

@media screen and (min-width: 768px) {
    header>.content {
        flex-basis: 50%;
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.footer-container>.social-icons {
    flex-direction: row;
    margin: 20px 0;
}

@media screen and (min-width: 1024px) {
    .footer-container>.social-icons {
        margin: 40px 0;
    }
}

.icon {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    margin-top: 10px;
    border-radius: 50%;
    background: var(--primary-color);
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .icon {
        width: 2.2em;
        height: 2.2em;
    }
}

.footer-container>.social-icons>.icon {
    margin-right: 20px;
}

.footer-container>.social-icons>.icon:last-child {
    margin-right: 0;
}

.icon>a {
    font-size: 1.1rem;
    line-height: 0;
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .icon>a {
        font-size: 1.25rem;
    }
}

.arrow {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

#about {
    margin-top: 100vh;
}

#about,
#portfolio,
#contact {
    position: relative;
    z-index: 2;
    margin-left: 0;
    padding-top: 50px;
    text-align: center;
    color: var(--primary-color);
    background: #fff;
}

@media screen and (min-width: 768px) {
    #about,
    #portfolio,
    #contact {
        padding-top: 80px;
        margin-left: 80px;
    }
}

@media screen and (min-width: 1024px) {
    #about,
    #portfolio,
    #contact {
        margin-left: 100px;
    }
}

#about>.container>.content {
    display: flex;
    flex-direction: column;
}

.avatar-container {
    display: flex;
    margin-bottom: 20px;
    padding: 0 40px;
    align-items: center;
}

.about-text {
    line-height: 1.5;
    display: flex;
    text-align: left;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #about>.container>.content {
        flex-direction: row;
    }
    .avatar-container {
        flex: 3;
        padding-right: 40px;
        padding-left: 0;
    }
    .about-text {
        flex: 4;
    }
}

@media screen and (min-width: 1024px) {
    .about-text {
        padding-left: 40px;
    }
}

.avatar-container img {
    width: 100%;
    border-radius: 50%;
}

.tabs {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .tabs {
        margin-bottom: 40px;
    }
}

.tab-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--gray-color);
}

@media screen and (min-width: 425px) {
    .tab-item {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .tab-item {
        font-size: 1.7rem;
    }
}

.tab-item.active {
    color: var(--primary-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media screen and (min-width: 768px) {
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
    }
}

.portfolio-item {
    position: relative;
}

.portfolio-item:hover .image-overlay {
    opacity: 1;
}

.image {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease;
    padding: 0 2rem;
    text-align: center;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#form-name,
#form-email {
    grid-column: 1/3;
}

@media screen and (min-width:768px) {
    #form-name {
        grid-column: 1/2;
    }
    #form-email {
        grid-column: 2/3;
    }
}

#form-message,
#form-submit {
    grid-column: 1/3;
}

input,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    color: var(--gray-text);
    border: 2px solid var(--gray-color);
    border-radius: 10px;
    outline: none;
    background: var(--gray-color);
    transition: border .4s ease;
}

@media screen and (min-width: 768px) {
    input,
    textarea {
        padding: 1.2rem;
    }
}

input:focus,
textarea:focus {
    border: 2px solid var(--primary-color);
}

.btn-primary {
    color: #fff;
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
}

.btn-primary:focus {
    opacity: 0.8;
}

footer {
    position: relative;
    z-index: 2;
    margin-left: 0;
    background: #fff;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    footer {
        margin-left: 80px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        margin-left: 100px;
    }
}