:root {
    --primary-color: #202733;
    --gray-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    position: relative;
    background: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 1rem;
}

@media screen and (min-width: 768px) {
    header {
        justify-content: space-between;
        padding-right: 2rem;
    }
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.25rem;
    font-weight: 600;
    margin-bottom: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}

.logo,
.header-text {
    width: 100%;
}

header>.side-bar {
    flex-basis: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    z-index: 1;
}

@media screen and (min-width:768px) {
    header>.side-bar {
        flex-basis: 100px;
        padding: 20px;
    }
}

header>.content {
    flex-basis: 90%;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    header>.content {
        flex-basis: 50%;
    }
}

.social-icons {
    display: flex;
    flex-direction: column;
}

footer>.social-icons {
    margin-bottom: 40px;
    flex-direction: row;
}

.icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .icon {
        width: 2.5em;
        height: 2.5em;
    }
}

footer>.social-icons>.icon {
    margin-right: 25px;
}

footer>.social-icons>.icon:last-child {
    margin-right: 0;
}

.icon>a {
    color: #fff;
    font-size: 1rem;
    line-height: 0;
}

@media screen and (min-width: 768px) {
    .icon>a {
        font-size: 1.25rem;
    }
}

.arrow {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

#about,
#portfolio {
    background: #fff;
    color: var(--primary-color);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

#portfolio {
    padding-bottom: 40px;
}

#about>.container>.content {
    display: flex;
}

.avatar-container {
    flex: 3;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.avatar-container img {
    width: 100%;
    border-radius: 50%;
}

.about-text {
    flex: 4;
    padding-left: 40px;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.tab-item {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gray-color);
}

.tab-item.active {
    color: var(--primary-color);
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.portfolio-item {
    perspective: 1400px;
    z-index: 0;
}

.image-container {
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.portfolio-item:hover>.image-container {
    transform: rotateY(180deg);
}

.portfolio-item:hover {
    z-index: 1;
}

.image {
    width: 100%;
    display: block;
    border-radius: 10px;
    backface-visibility: hidden;
}

.image-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background: var(--primary-color);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}